.loading {
	display: block;
	position: absolute;
	top: 33.3%;
	left: 50%;
	width: 66px;
	height: 66px;
	margin: -33px 0 0 -33px;

	fill: #003A6F;
	stroke: #003A6F;
}

.loading svg {
	width: 66px;
	height: 66px;
}
