.loading {
	display: block;
	position: absolute;
	top: 33.3%;
	left: 50%;
	width: 66px;
	height: 66px;
	margin: -33px 0 0 -33px;

	fill: #dd4997;
	stroke: #dd4997;

}

.loading svg {
	width: 66px;
	height: 66px;
}
