.loading {
	display: block;
	position: absolute;
	top: 33.3%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;

	fill: #dd4997;
	stroke: #dd4997;

}

.loading svg {
	width: 80px;
	height: 80px;
}
