html, body {
  height: 100%;
  overflow:hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #fafafa;
}

/* App container styles */
.App {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;;
}

.App-header {
  height: 70px;
  display: block;
  color: white;
}

/* Content styles */
.App-content {
  background: #f8f8f8;
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* List styles */
.App-content__scroll {
  width: 100%;
  position: relative;
  overflow:hidden;
  overflow-y: auto;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1120px;
  padding: 20px 15px;
  margin: 0 auto;
}

.chat {
  /*
  display: flex;
  flex-wrap: wrap;
  */
  width: 100%;
  max-width: 660px;
  padding: 0;
  margin: 0 auto;
}


.url-list {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  z-index: 999;
  display: block;
  background: rgba(255,255,255,.8);
  left: 0;
  right: 0;
  animation: fade-in 0.2s;
}

.url-list-area {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  animation: fade-in 0.5s;

  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 14px rgba(80, 77, 91, 0.12);
  outline: none;
}


.btn {
  background: #003A6F;
  color: #FFF;
  /* border: 2px solid #003A6F; */
  border: none;
  border-radius: 3px;
  padding: 10px 45px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3em;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.btn:active, .btn:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.btn.inactive {
  background: #738998;
}

