# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build
heroku
prod
temp

# misc
.DS_Store
npm-debug.log
*.sublime-workspace
*.sublime-project
env.js