@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 0}
}

.listItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 250px;
	height: 250px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
}

.listItem:active {
	background-color: #fafafa;
}

.listItem__image {
	display: block;
	overflow: hidden;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	cursor: pointer;
}

.listItem__image .img {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #f4d4e5;
	border-radius: 0px;
	animation: fade-in 0.15s;
}

.listItem__info {
	border-radius: 0px;
	flex-direction: column;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	color: #ddd;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,.5);
	font-size: 0.8em;
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
}
.listItem:hover .listItem__info {
	opacity: 1;
}

.listItem__name {
	font-size: 100%;
	font-weight: 600;
	color: #FFF;
	padding-top: 2em;
	margin-bottom: 0.3em;
}
.listItem__team {
	margin-bottom: 1.5em;
}

.listItem__favorite {
	margin-bottom: 1.5em;
	font-size: 1.4em;
}

.listItem__favorite .icon {
	color: #dd4997;
}

.listItem__iconblock {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	margin-right: 5px;
	font-size: 1.2em;
}



@media screen and (max-width: 840px) {
	* {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
	}
  body {
    font-size: 11px;
    user-select: none; /* mobile UX */
  }
  .gallery {
    padding: 1vw 1vw 30px;
  }
  .listItem {
    width: 30.6vw;
    height: 30.6vw;
    margin: 1vw;
  }
  .detailItem {
  	width: 80%;
  }
}