.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  background-size: 100% auto;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
  z-index: 2;
  position: relative;
  padding: 0 20px;
}

.header__title {
  font-size: 1.2em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  left: 20px;
}

.header__title img {
  max-height: 70px;
}


.header-buttons {
  position: absolute;
  right: 0px;
  top:0px;
}

.header-buttons a {
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  color: #ec449c;
  text-align: center;
  width: 70px;
  float: left;
  animation: scale-in 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: 70% 40%;
}

.header-buttons .back-button {
  font-size: 23px;
}

.back-button:active {
  opacity: 0.5;
}

.city-loader {
  position: relative;
  top: 0px;
}

@media screen and (max-width: 840px) {
  .header__title {
    left: 15px;
  }
  .header__title img {
    max-height: 38px;
  }
}